input:focus, textarea:focus, select:focus, button:focus{
    outline: none !important;
}
 
.marBottom40{margin-bottom:40px;}
.contactheader{  color: #DF323F;
    margin-left: 14px;
    line-height: 58px;
    font-size: 50px;
    font-family: campton-bold;}

.no-show{visibility: hidden;}   
.login-link{
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 15px;
    color: red;
    padding: 0px 30px 0px 0px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
} 

.shippingformContent label {
	color: #5D5D5D;
	font-family: campton-bold;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
	margin-bottom: 3%;
	margin-right: 5%;
}

.radioLabels {
	font-size: 14px;
	font-family: campton-book!important;
	color: #5d5d5d!important;
	margin-top: 8px!important;
	font-size: 14px!important;
}

.greycolor input[type=text]{
    background-color: #F4F7FA !important; 
    margin-bottom: 0px !important;
}

.greycolor input[type=email]{
    background-color: #F4F7FA !important; 
    margin-bottom: 0px !important;
}

.shippingformContent-profile input[type=text] {
	padding: 6px 12px;
	min-height: 40px;
	border-radius: 25px;
	box-sizing: border-box;
	border: 0px;
	background-color: #fff;
	font-size: 13px;
	font-family: campton-book;
	color: #5C707C;
	width: 100%;
}
.shippingformContent-profile input[type=email] {
	padding: 6px 12px;
	min-height: 40px;
	border-radius: 25px;
	box-sizing: border-box;
	border: 0px;
	background-color: #fff;
	font-size: 13px;
	font-family: campton-book;
	color: #5C707C;
	width: 100%;
}

.shippingformContent-profile label {
	color: #5D5D5D;
	font-family: campton-bold;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
	margin-bottom: 3%;
	margin-right: 5%;
	text-transform: capitalize;
}


.Nextbutton-profile {
	color: rgb(255, 255, 255);
	background-color: #DF323F!important;
	border-color: #DF323F;
	display: inline-block;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	font-size: 16px;
	font-family: campton-bold;
	line-height: 1.42857;
	user-select: none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	padding: 10px;
    border-radius: 23px;
    width:100%;
}
.middle-align{
    text-align: center;
}
.cancel-btn{font-size: 16px;
    font-family: campton-bold;
    color: red;
    margin-bottom: 10px;
    line-height: 38px;
}
.cancel-btn:hover{ color: tomato;}