.marBottom40{margin-bottom:40px;}
.contactheader{  color: #DF323F;
    margin-left: 14px;
    line-height: 58px;
    font-size: 50px;
    font-family: campton-bold;}

.no-show{visibility: hidden;}   
.login-link{
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 15px;
    color: red;
    padding: 0px 30px 0px 0px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
} 
.contactheader span{color:#5C6E7C;}

.dashboard-body{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 2%;
}
.dashboard-body .blkfirst{margin:0% 2%;}
.dashboard-body .blklast{margin:0% 2%;}
.dashboard-body .no-pad{padding-left: 0px; padding-right: 0px;}
.dashboard-heading-table td{border-top:none !important;width: 50%;}
.post_login .heading-txt{ 
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 22px;
    color: #5C6E7C;
    font-weight:bold;
    line-height: 30px;
    margin-bottom: 20px;
    word-wrap: break-word;
}
.heading-txt .tooltip{
	text-decoration: none;
}
.view_order_link{ 
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 14px;
    color: red;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
    float: right; 
}

.white-background{ background: #fff; padding:9% 5%;min-height: 350px;}
.box-heading-dashboard{
    FONT-FAMILY: "CAMPTON-BOLD";
    font-size: 20px;
    color: #5C6E7C;
    margin-bottom: 20px;
    padding-left: 5%;
}
.dashboard-table-wrapper {
    background-color: #F4F7FA;
    padding: 5%;
    border-radius: 20px;
}
.post_login .dashboard-table td:first-child{
  text-align: left;
}
.post_login .dashboard-table td:last-child{
 text-align: right;
 width: 40%;

}
.post_login .dashboard-table td{
    font-size: 14px;
    color: #5C6E7C;
    font-family: "campton-book";
    line-height: 30px;
    word-break: break-all;
    
}
.dashboard-heading-table{margin-bottom: 0px;}
.post_login .dashboard-table{margin-bottom: 0px;}
.post_login .dashboard-table tr:first-child td{border-top: none !important;}
.dashboard-table .view_order_link{font-size: 14px !important;}
.dashboard-body .no-pad{margin-bottom: 3%;}
.dashboard-heading-table .heading-txt span{
    font-family: "campton-book";
    border-radius: 50%;
    background: red;
    color: #fff;
    padding: 3px 7px;
    font-size: 12px;
    position: relative;
    top: -6px;
}


.dashboard-notification{overflow-x: auto; box-sizing: border-box;display: flex;}
.dashboard-notification .notification-block{
background: #fff;padding:5%; min-height: 150px; display: inline-block;
vertical-align: top;
color: #5C6E7C;
font-size: 14px;
width: 94%;
font-family: "campton-bold";
margin-left: 2%;
}
.dashboard-notification .notification-block span{
    display: block;
    color: red;
    font-family: "campton-book";
    font-size: 44px;
    font-weight: bold;
}

.dashboard-support .support-left{
    background: #346F76;
    color: #fff;
    font-family: "campton-bold";
    padding: 47px 37px;
    font-size: 18px;
    min-height: 160px;

}

.dashboard-support .support-right{
    background: #3E8189;
    color: #fff;
    font-family: "campton-book";
    padding: 45px 20px;
    min-height: 160px;
    font-weight: bold;
}

.dashboard-support .support-right a{
    color:#fff;
}
.dashboard-notification-alert{
	padding: 10px;
    border-radius: 25px;
    border: 1px solid #f4f4f4;
	background: #fff;
}

.dashboard-notification-alert .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #5C6E7C; 
    background-color: #F4F7FA;
	line-height: 15px;
	padding: 10px;
    border-radius: 25px;
    color: #5C6E7C;
    font-family: Campton-medium;
    font-size: 12px;
    font-weight: bold;
}
.dashboard-notification-alert span{
	padding: 10px;
    float: left;
    color: #DF323F;
    font-family: Campton-book;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 10px;
	display: inline-block;  
}

.dashboard-notification-alert .otherlinks{
	    width: 150px;
 
    border-radius: 25px;
    color: #5C6E7C;
    font-family: Campton-medium;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    line-height: 15px;
}
.dashboard-notification-alert .otherlinks a{
	  color: #5C6E7C;
	  line-height: 30px;
}
.dashboard-notification-accordion{
	background:#fff;
	padding:15px;
}

.dashboard-notification-accordion .panel-default>.panel-heading {
    color: #333;
    background-color: #fff; 
    border-color: #ddd;
    border-left: 0;
    border-right: 0;
}
.dashboard-notification-accordion .panel-default {
    border-color: #fff; 
    border-bottom: 1px solid #CFD8E1;
}
.dashboard-notification-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #fff;
}
.dashboard-notification-accordion .new-product-announce {
  color: #5D5D5D;
  font-family: Campton-medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}

.dashboard-notification-accordion .lorem-ipsum-optional {
  
  color: #5D5D5D;
  font-family:Campton-book;
  font-size: 13px;
  font-weight: 0;
  letter-spacing: 0;
  line-height: 18px;
}

.dashboard-notification-accordion a:focus, a:hover {
    color: #5C6E7C;
    text-decoration: none;
}
.dashboard-notification-accordion .linkcolor {
   color: #DF323F;
  font-family: Campton-book;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
      padding: 0 10px;
}
.dashboard-notification-accordion .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
   opacity: 1;
  
}

.dashboard-notification-accordion .linkbtton {
    background: url(../images/link.png) no-repeat;
   height: 15px;
    width: 15px;
    background-size: contain;
    display: inline-block;
    margin-right: 0%;
    position: relative;
    top: 5px;
    left: 0px;
}
/* No order page css start  */
.no-order-title-text{
   color: #5C6E7C;
    font-family: Campton-book;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 40px;	
}
.no-order-title-para{
	color: #5C6E7C;
    font-family: Campton-medium;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 35px;
}
.no-order-resource{
	background:#fff;
	padding:15px;
	margin: 20px auto;
}
.no-order-resource .categories-title{
  color: #5C6E7C;
  font-family: Campton-book;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 32px;
}
.no-order-resource .categories-btn{
	color: #5C6E7C;
    font-family: Campton-book;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    border: 1px solid #5C707C;
    border-radius: 25px;
   margin: 20px 10px;
    padding: 10px;
    float: left;
    width: auto;
    text-align: center;
}
.no-order-resource .card {
  padding:auto;
   margin-top:15px;
 
}
.no-order-resource .imgholder{
	min-height: 146px;
    width: 225px;
    opacity: 0.15;
    border-radius: 10px 10px 0 0;
    background-color: #35818A;
}
.no-order-resource .card-block{
	    text-align: center;
		    padding: 15px;
}
.no-order-resource .rectangle {
  height: 24px;
  width: 79px;
  border-radius: 12px;
  background-color: #FFFFFF;
}
.no-order-resource .flucelvax {
  height: 18px;
  width: 55px;
  color: #DF323F;
  font-family: Campton-book;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
}
.no-order-resource .card-title{
	color: #5C6E7C;
  font-family:  Campton-book;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}

.no-order-resource .card-text{
	color: #5D5D5D;
  font-family: Campton-book;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  }
.no-order-resource .card-img-top{
  margin-top:10px;
}
.no-order-resource .recomedtion{
	color: #5C6E7C;
  font-family: Campton-book;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 32px;
  padding:20px;
}
.no-order-resource ul{
	list-style:none;
	
}
.no-order-resource li{
	color: #DF323F;
    font-family: Campton-book;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
}
.marginTop20{
	margin-top: 20px;
}
.marginTop40{
	margin-top: 40px;
}
.marginTop30{
	margin-top: 30px;
}

@media only screen and (max-width: 768px)  {
    .contactheader {
        line-height: 28px !important;
        font-size: 22px !important;
        font-family: "campton-bold";
    }
    .view_order_link{font-size: 13px !important;line-height: 17px !important;}
    .post_login .heading-txt{font-size: 20px !important;line-height: 30px;width: 60% !important;}
    .dashboard-notification{overflow-x: auto !important;} 
}    

@media only screen and (max-width: 1024px) and (min-width: 769px)  {
    .dashboard-support .support-right{min-height: 168px;}


}

                  .Dgrey-Blocks {
    width: 243px;
    height: 253px;
    display: inline;
    margin: 0 10px 25px 0px;
}
.Dgrey-Labels {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background: #D7E5E9;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Dred-labls {
    background: white;
    width: 93px;
    text-align: center;
    border-radius: 20px;
    color: #DF323F;
    margin: 10px;
    font-family: campton-semibold;
    font-size: 12px;
    padding: 2px;
}
.Dinner-Content {
    background-color: #F4F7FA;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.Dproducts-blocks {
    text-align: left;
    padding: 23px 30px;
    font-family: campton-bold;
}
.Dboxheading {
    font-size: 20px;
    color: #5C6E7C;
    font-family: campton-bold;
}
.Dresource-para {
    font-size: 14px;
    color: #5d5d5d;
    font-family: campton-book;
}
.notification-col{  
    padding: 27px 20px;
    background-color: white;  
    border-radius: 48px; 
}
.notification-col1{
    background-color:#F4F7FA;
    border-radius: 20px;
    padding: 6px;
    padding: 6px;
    margin: -5px -12px;
}
.notification-colspan{color:#DF323F;
    font-family: campton-medium;
    font-size: 20px;
    margin-right: 10px;
}
.notificationtxt{
    float: left;
    position: relative;
    top: -15px;
    font-size: 14px;
    color:#5C6E7C;
    font-family: campton-bold;
    margin-right:15px;
}
.notificationblk{
    width: 87%;
}
.fluceBoximage{
	max-width: 60%;	
}