@font-face{
    font-family:Campton-BlackItalic;
    font-style:normal;
    src:url(../fonts/campton/Campton-BlackItalic.otf) format("opentype")
  }
  
  @font-face{
    font-family:Campton-Black;
    src:url(../fonts/campton/Campton-Black.otf) format("opentype")
  }
  @font-face{
    font-family:Campton-BoldItalic;
    src:url(../fonts/campton/Campton-BoldItalic.otf) format("opentype")
  }
  @font-face{
    font-family:Campton-Book;
    src: url("../fonts/campton/Campton-Book.ttf") format("ttf"),
      url("../fonts/campton/Campton-Book.otf") format("otf"),
      url("../fonts/campton/Campton-Book.woff") format("woff");
   
  }
  @font-face{
    font-family:Campton-Bold;
    font-style:normal;
    src:url(../fonts/campton/Campton-Bold.ttf) format("ttf");
    src:url(../fonts/campton/Campton-Bold.woff) format("woff")
  }
  @font-face{
    font-family:CamptonBook;
    src:url(../fonts/campton/CamptonBook.woff) format("woff")
  }
  
  @font-face{
    font-family:Campton-BookItalic;
    src:url(../fonts/campton/Campton-BookItalic.otf) format("opentype")
  }
  
  @font-face{
    font-family:Campton-ExtraBold;
    src:url(../fonts/campton/Campton-ExtraBold.otf) format("opentype")
  }
  @font-face{
    font-family:Campton-ExtraBoldItalic;
    src:url(../fonts/campton/Campton-ExtraBoldItalic.otf) format("opentype")
  }
  @font-face{
    font-family:Campton-ExtraLight;
    src:url(../fonts/campton/Campton-ExtraLight.otf) format("opentype")
  }
  
  @font-face{
    font-family:CamptonLight;
    src:url(../fonts/campton/CamptonLight.woff) format("woff")
  }
  
  @font-face{
    font-family:Campton-ExtraLightItalic;
    src:url(../fonts/campton/Campton-ExtraLightItalic.otf) format("opentype")
  }
  
  @font-face{
    font-family:Campton-Light;
    src:url(../fonts/campton/Campton-Light.otf) format("opentype"),
    url(../fonts/campton/Campton-Light.ttf) format("ttf")
  }
  @font-face{
    font-family:Campton-LightItalic;
    src:url(../fonts/campton/Campton-LightItalic.otf) format("opentype")
  }
  
  
  @font-face{
    font-family:CamptonnMedium;
    src:url(../fonts/campton/CamptonnMedium.woff) format("woff")
  }
  @font-face{
    font-family:Campton-Medium;
    src:url(../fonts/campton/Campton-Medium.ttf) format("ttf"),
    url(../fonts/campton/Campton-Medium.woff) format("woff");
  }
  
  @font-face{
    font-family:Campton-MediumItalic;
    src:url(../fonts/campton/Campton-MediumItalic.otf) format("opentype")
  }
  
  @font-face{
    font-family:CamptonLightItalic;
    src:url(../fonts/campton/CamptonLightItalic.woff) format("woff")
  }
  
  @font-face{
    font-family:Campton-SemiBold;
    src:url(../fonts/campton/Campton-SemiBold.ttf) format("ttf"),
        url(../fonts/campton/Campton-SemiBold.woff) format("woff");
  }
  @font-face{
    font-family:CamptonSemiBold;
    src:url(../fonts/campton/Campton-SemiBold.ttf) format("ttf"),
        url(../fonts/campton/Campton-SemiBold.woff) format("woff");
  }
  
  
  @font-face{
    font-family:Campton-SemiBoldItalic;
    src:url(../fonts/campton/Campton-SemiBoldItalic.otf) format("opentype")
  }
  @font-face{
    font-family:Campton-Thin;
    src:url(../fonts/campton/Campton-Thin.otf) format("opentype")
  }
  
  @font-face{
    font-family:Campton-ThinItalic;
    src:url(../fonts/campton/Campton-ThinItalic.otf) format("opentype")
  }