.header-firstbar{
    background-color: #F4F7FA;
    min-height: 33px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1100;
}
.header-navs {
    float: right;
}
.login-blocks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.login-blocks li{
    list-style: none;
}
.login-link-blk {
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 14px;
    color: #DF323F;
    padding: 0px 30px 0px 0px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
}
.logoutbutton {
    display: inline-block;
    padding: 6.5px 30px;
    color: #fff;
    background-color: #D0021B;
    width: 170px;
    text-align: center;
    FONT-FAMILY: CAMPTON-BOOK;
    font-weight: 800;
    font-size: 14px;
}
.header-bar {
    background-color: #fff;
    width: 100%;
    z-index: 1100;
    max-height: 95px;
}
.header-Section {
    margin-top: 2%;
    margin-bottom: 1.5%;
}
.logo-img {
    width: 45%;
}
.nav-column{
    margin-top:21px;
}

.top-nav{
	margin-bottom: 0px;
}

.top-nav a {
    float: left;
    display: block;
    text-align: center;
    margin: 14px 15px 0px;
    text-decoration: none;
    font-weight: 600;
    color: #5C707C;
    font-family: campton-bold;
    font-size: 1.4vw;
    letter-spacing: 0;
    line-height: 23px;
   height: 60px;
    border-bottom: 3px solid transparent;
}
.top-nav li a:hover {
    border-bottom: 5px solid #D0021B;
}

  
  
  .navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;    
  
  }
  .navbar li {
    float: left;
  }
  .navbar li a,
.navbar .dropbtn {
  color: #5C707C;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  display:block;
}

.dropdown {
   display:inline-block;
   top: -3px;
}

.dropdown-content {
  background: #ffffff;
  min-width: 236px;
  position: absolute;
  display: none;
  top: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color:#5C707C; 
  padding: 6px 14px !important;
  text-decoration: none;
  display: block;
  text-align:left;
  font-size: 14px!important;
  text-transform: none!important;
font-family: campton-semibold;
margin: 7px 10px!important;
height: 39px!important;
border:0px !important;

}

.dropdown:hover .dropdown-content {
  display: block;
}
.redarrw{
    color:#D0021B;
    font-size: 24px;
    font-weight: 600;
    margin-left: 5px;
}
