
.faqwhite-background {
    background: #fff;
    padding: 5% 5%;
    height: 368px;
}

.supportbreadcrumb {
    padding: 21px 17px;
    margin-bottom: 20px;
    list-style: none;   
    border-radius: 4px;
    font-family: campton-book;
}
.supportbreadcrumb>li {
    display: inline-block;
}
.active {
    color: #DF323F!important;
}
.supportbreadcrumb-item a {
    color: #DF323F!important;
    text-decoration: none;
    font-size: 14px;
}
.supportbreadcrumb>li+li:before {
    padding: 0 5px;
    color: #5C6E7C;
    content: "/\00a0";
}
.support-body {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 2%;
}
.contactheader {
    color: #DF323F;
    margin-left: 14px;
    line-height: 58px;
    font-size: 50px;
    font-family: campton-bold;
}
.login-link {
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 15px;
    color: #DF323F;
    padding: 0px 30px 0px 0px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
}
.invoiceBody
{
    background-color: #fff;
    margin: 5% 15px;
    padding: 30px 30px;
}
.invoiceHeader
{
    color: #5C6E7C;
    font-size: 21px;
    font-family: campton-bold;
    line-height: 83px;
    margin-left:10px;
}
.normalText
{
    color: #6a6a6a !important;
    font-size: 12px !important;
    font-family: campton-book !important;
}

#invoicegraphcontainer {
  min-width: 310px;
  max-width: 800px;
  height: 350px;
  margin: 0 auto;
  border-radius: 60px;
}

.inoverview{
  color: #5C6E7C;
  font-family: Campton-bold;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
}
.indrop{
  margin: 30px -20px;
}
.invoice-drop-down .dropdown-toggle {
    padding: 10px;
    background: #fff;
    color: #5C707C;
    font-family: campton-book;
    border: 1px solid #5C707C;
    border-radius: 22.5px!important;
    
}
.invoice-drop-down .bootstrap-select .bs-caret {
    display: none;
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
    height: auto;
    background: none;
    box-shadow: none;
}

.invoice-drop-down  .filter-option-inner-inner {
    font-family: "campton-bold";
    font-size: 14px;
	padding: 0 15px;
	text-transform: none;
}

.no-pad {
    padding: 0px;
}

.dropdown-toggle:focus {
    outline: none !important;
}

.invoice-drop-down  .dropdown-toggle::after {
    color: #5C707C;
}

.invoice-drop-down  .dropdown-toggle:hover {
    background: #fff !important;
    color: #5C707C;
}

.invoice-drop-down  .dropdown-toggle:visited {
    background: #DF323F !important;
    color: #fff;
}

.invoice-drop-down .dropdown-menu {
    background: #DF323F !important;
    color: #fff;
}

.invoice-drop-down .dropdown-menu li a {
    color: #fff;
    font-family: "campton-bold";
    font-size: 14px;
}

.invoice-drop-down  .dropdown-menu>.active>a,
.invoice-drop-down .dropdown-menu>.active>a:focus,
.invoice-drop-down  .dropdown-menu>.active>a:hover {
    background: #fff;
    color: #526774 !important;
}

.invoice-drop-down  .dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262626 !important;
    text-decoration: none;
    background-color: #f5f5f5;
}

.invoice-drop-down .dropdown-toggle::after {
    font-family: "FontAwesome";
    content: "\f107";
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-right: 0rem;
    font-size: 16px;
    font-weight: bold;
}
.invoice-detailssection {
	    background: #fff;
    margin: 100px 0 0 auto;
    padding: 40px;

    position: relative;
    display: block
}
.invoice-detailssection p{
	color: #5D5D5D;
    font-family: Campton-book;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;

}
.legendbox{
	padding:15px;
	margin:10px 0;
	    text-align: center;
}
.legendtext{
	color: #5C6E7C;
  font-family: Campton-bold;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 27px;
  display: block;
}
.legendprice{
color: #5C6E7C;
  font-family: Campton-bold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
	
}

.legend-invoicebox-red {
     float: left;
    height: 15px;
    width: 35px;
    margin-bottom: 15px;
    border: 1px solid #DF313F;
    clear: both;
    background-color: #DF313F;
    border-radius: 25px;
    margin-top: 20px;
}

.legend-invoicebox-blue {
     float: left;
    height: 15px;
    width: 35px;
    margin-bottom: 15px;
    border: 1px solid #35818A;
    clear: both;
    background-color: #35818A;
    border-radius: 25px;
    margin-top: 20px;
}

.invoicedropdwn{width:75%!important;}
.invoicetbleredtxt {
	color: #DF323F!important;
	font-weight: bold;
}

#invoiceTable_filter{
    display:none;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0px !important;
    outline: 0px !important;
    
}

.invoice-drop-down .open>.dropdown-toggle::after {
    color:#fff!important;
}

.invoicedropdwn .bootstrap-select .dropdown-menu li a span.text {
font-family: "campton-book";
color: #fff;
}

 

.invoice-drop-down .dropdown-menu > .active > a span{
background: transparent;
color: #526774!important;
}
.invoice-drop-down .open > .dropdown-toggle.btn-default {
    background-color: #fff !important;
    border-color: #525252 !important;
}
.invoice-drop-down .open > .dropdown-toggle .filter-option-inner-inner{
	color: #71838d !important;
}
.invoice-drop-down .dropdown-menu {
    background: #fff !important;
    color: #555 !important;
}
.invoicedropdwn .bootstrap-select .dropdown-menu li a span.text {
    color: #555;
}
.invoicedropdwn .dropdown-menu > .active > a, invoicedropdwn .dropdown-menu > .active > a:focus, .invoicedropdwn .dropdown-menu > .active > a:hover {
    background-color: #DF323F;
}

