.joincontent {
	padding-left: unset!important;
	padding-right: unset!important;
	overflow-y: hidden!important;
	overflow-x: hidden!important;
	height: auto;
}

.joinpageHeader {
	color: #DF323F;
	font-family: campton-bold;
	font-size: 50px;
	letter-spacing: -0.1px;
	line-height: 60px;
	margin: 1% 2% 3% 3%;
}

.joincontentArea {
	background-color: #fff;
	transform: translateX(-50%);
	left: 50%;
	position: relative;
	margin-bottom: 5%;
	padding: 0;
	box-shadow: 0 -10px 40px 7px rgba(0, 69, 104, 0.1);
}

.leftcontentArea {
	background: url(../images/Capture.jpg) no-repeat;
	height: 100%;
	padding-bottom: 42%;
	padding-top: 28.5%;
	background-size: cover;
}

.join_header {
	color: #5C6E7C;
	font-family: campton-bold;
	font-size: 32px;
	letter-spacing: 0;
	line-height: 40px;
	margin: 4% 2% 2% 2%;
}

.join_subheader {
	color: #5C6E7C;
	font-family: campton-book;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 24px;
	margin: 0% 2% 4% 2%;
}

.section1_newcust,
.section1_joinacc {
	position: relative;
	border-radius: 11px;
	background-color: #F4F7FA;
	margin: 0% 0% 4% 0%;
	padding: 4%;
	left: 50%;
	transform: translateX(-50%);
}

/*
.subsecheader::after {
	content: "\2192";
	color: #DF323F;
	font-size: 25px;
	margin: 3% 1% 0% 0%;
	float: right;
}*/

.subsecheader {
	color: #5C6E7C;
	font-family: campton-medium;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 32px;
}

.subsectext {
	color: #5D5D5D;
	font-family: campton-medium;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 16px;
	width: 80%;
}

.leftHeader {
	color: #FFFFFF;
	font-family: campton-bold;
	font-size: 28px;
	letter-spacing: 0;
	line-height: 36px;
	margin-bottom: 5%;
	left: 50%;
	top: 51%;
	transform: translate(-50%, -50%);
}

.leftsubHeader {
	color: #FFFFFF;
	font-family: campton-medium;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 30px;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
}


/* New Customer CSS begin */

.join_helpSection {
	text-align: right;
	padding: 5% 5% 0% 0%;
}

.formContent label {
	color: #5D5D5D;
	font-family: campton-bold;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
	margin-bottom: 3%;
	text-transform:none;
}

.formContent input[type=text] {
	padding: 2% 10% 2% 7%;
	min-height: 40px;
	border-radius: 25px;
	box-sizing: border-box;
	border: 0.5px solid #F4F7FA;
	background-color: #F4F7FA;
	margin-bottom: 20px;
}

.formContent input[type=text]:focus {
	border: 0.5px solid #5C707C;
}

.troubleTexts {
	color: #5D5D5D;
	font-family: campton-medium;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 18px;
}

.helpTexts {
	color: #DF323F;
	font-family: campton-medium;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 18px;
}

.radioBtnsection {
	margin-top: 3%;
	margin-bottom: 1%;
	padding-left: 0;
}



.linkbtn {
	background: url(../images/link.png) no-repeat;
	height: 19px;
	width: 18px;
	background-size: contain;
	display: inline-block;
	margin-right: 5%;
}

.linkbttonred {
	background: url(../images/link.svg) no-repeat;
	height: 15px;
	width: 15px;
	background-size: contain;
	display: inline-block;
	margin-right: 5%;
	position: relative;
	top: 0px;
}



.joinradioButton {
	color: #5D5D5D!important;
	font-family: campton-book !important;
	font-size: 14px !important;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 18px;
	margin-left: 2%;
	top: 7px;
	position: relative;
	text-transform: none;
}

input[type="radio"]:checked:before {
	content: "";
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin-right: 5%;
	background: red;
}

input[type="checkbox"] {
	width: 1em;
	height: 1em;
	background-color: #F4F7FA;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: -5px;
	border: 0.5px solid #5D5D5D;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

input[type="checkbox"]:checked:before {
	content: "";
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin-right: 5%;
	background: red;
	border: none;
}

input:focus,
input[type="checkbox"]:focus,
textarea:focus,
select:focus {
	outline: none;
}

.formContent input::-webkit-input-placeholder {
	font-family: campton-book;
}

.formContent input:-ms-input-placeholder {
	font-family: campton-book;
}

.sendemailText {
	color: #5D5D5D;
	font-family: campton-medium;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 18px;
	margin: 2%;
}

.prevStepbtn {
	color: #DF323F;
	font-family: campton-medium;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 18px;
	display: inline;
	padding-top: 10px;
}

.emailbtn {
	color: rgb(255, 255, 255);
	margin-bottom: 15px;
	margin-right: 6%;
	background-color: rgb(238, 58, 67) !important;
	border-color: rgb(238, 58, 67);
	display: inline-block;
	margin-bottom: 0px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.42857;
	user-select: none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	padding: 7.5px 30px;
	border-radius: 20px;
}

@media (max-width: 1024px) {
	.leftredborder {
		background: #DF323F;
		height: 1030.04px;
	}
}

ol.breadcrumbfont {
	font-size: 14px;
}

.breadcrumbfont {
	padding: 21px 74px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #ffffff;
	border-radius: 4px;
	font-family: campton-book;
}

.padLeft79 {
	padding-left: 79px!important;
}

.breadcrumbs-item a {
	color: #DF323F!important;
	text-decoration: none;
	font-size: 14px;
}

.labelsubtext {
	color: #5D5D5D;
	font-family: campton-book;
	font-size: 11px;
	line-height: 19px;
	margin-bottom: 3%;
}

.searchbutton {
	color: rgb(255, 255, 255);
	margin-bottom: 15px;
	margin-right: 6%;
	background-color: #DF323F!important;
	border-color: #DF323F;
	display: inline-block;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	font-size: 16px;
	font-family: campton-bold;
	line-height: 1.42857;
	user-select: none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	padding: 10.5px 48px;
	border-radius: 23px;
	margin-left: 13px;
}

.joinmarLeft {
	margin-top: 30px;
	margin-left: 6px;
}

.xhLine {
	color: #5C6E7C;
	font-family: campton-medium;
	opacity: 0.5;
	font-size: 8px;
	letter-spacing: 15px;
	line-height: 30px;
	margin: 5% 2% 2% -5%;
	text-align: center;
}

.xhLine1 {
	color: #5C6E7C;
	font-family: campton-medium;
	opacity: 0.5;
	font-size: 8px;
	letter-spacing: 15px;
	line-height: 30px;
	margin: 0% 2% 2% -5%;
	text-align: center;
}

.asteriskred {
	color: #DF323F;
}

.joinformContent input[type=text] {
	padding: 6px 15px;
	min-height: 45px;
	border-radius: 25px;
	box-sizing: border-box;
	border: 0px;
	background-color: #F4F7FA;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: campton-book;
	color: #5C707C;
	box-shadow: none;
}

.help-block {
	font-family: campton-semibold;
	color: #DF323F!important;
	font-size: 14px!important;
}

.myiconInformation {
	position: relative;
    
    float: right;
    z-index: 4;
    
}

.myiconInfo {
	border-radius: 10px 10px 10px 10px;
	background-color: #DF323F!important;
	display: none;
}

.floatLeft {
	float: left;
}

.myiconinfotext {
	color: #fff;
	margin-top: 7%;
	margin-left: 4%;
	padding-left: 2%;
	padding-right: 2%;
}

#myicon1 {
	margin-left: 4px;
}

.myicon {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #DF323F!important;
	cursor: pointer;
}

.smallInfo {
	color: #fff;
	font-weight: 700;
	text-align: center;
	font-size: 11px;
}

.greentext {
	color: #1A916E;
	font-family: campton-book;
	font-size: 12px!important;
	text-align: center;
	padding-bottom: 17px;
}

.acesscolumn {
	margin-top: 26px;
}

.joinconfirmtxt {
	font-size: 13px;
	font-family: campton-bold;
	color: #5d5d5d;
}

.join_headeracct {
	color: #5C6E7C;
	font-family: campton-bold;
	font-size: 19px;
	word-wrap: break-word;
}

.prevnmailjoin {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0% 2% 5% 4%;
}

.joinbutton {
	color: rgb(255, 255, 255);
	margin-bottom: 15px;
	margin-right: 6%;
	background-color: #DF323F!important;
	border-color: #DF323F;
	display: inline-block;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;	
	float:right;
	font-size: 16px;
	font-family: campton-bold;
	line-height: 1.42857;
	user-select: none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	padding: 8.5px 30px;
	border-radius: 23px;
	margin-left: 13px;
}

.joininput {
	width: 74%;
}

.joininput-1 {
	width: 100%;
}

.ortext {
	position: relative;
	top: 42px;
	font-family: campton-bold;
	color: #5d5d5d;
}

.nopadleft {
	padding-left: 0px!important;
}

.joinformContent input[type=email] {
	padding: 6px 15px;
	min-height: 40px;
	border-radius: 25px;
	box-sizing: border-box;
	border: 0px;
	background-color: #F4F7FA;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: campton-book;
	color: #5C707C;
	box-shadow: none;
}

.joinformContent {
	margin-left: 2%;
}

.prevnmailjoin div:first-child {
    width: 100%!important;
}
.failuretext {
    color: #DF323F;
    font-family: campton-book;
    font-size: 12px!important;
    text-align: center;
    padding-bottom: 17px;
}
.failureimg{width:17px;}

.tooltipjoint {

    position: relative;

    display: inline-block;

    border-bottom: 1px dotted black;

  }

  

  .myiconInformation .tooltipjointtext {

      visibility: hidden;

    color: #fff;

    text-align: center;

    border-radius: 6px;

    padding: 0px 0;

    position: absolute;

    z-index: 1;

    top: -80px;

    left: 20px;

}

  

  .myiconInformation:hover .tooltipjointtext {

    visibility: visible;

  }

  .tooltiptoptext{

    background-color: #CFD8E1;

    color: #5d5d5d;

    border-top-left-radius: 6px;

    border-top-right-radius: 6px;

    text-align: left;

    padding: 10px 10px;

    width: 215px;

    height: 35px;

    font-family: campton-bold;

    font-size:12px;

  }

  .tooltipbottomtext{

    background-color: #F4F7FA;

    color: #5d5d5d;   

    text-align: left;

    padding: 10px 10px;

    width: 215px;

    font-family: campton-bookitalic;

    height: 76px;

    font-size:12px;

    border-bottom-left-radius: 6px;

    border-bottom-right-radius: 6px;

  }