
.maincontent{
    padding-left: unset!important;
    padding-right: unset!important;
    overflow-y: hidden!important;
    overflow-x: hidden!important;
    height:auto;
}
.pageHeader
{
    color: #DF323F;
    font-family: campton-bold;
    font-size: 40px;
    letter-spacing: -0.1px;
    line-height: 60px;
    margin: 2% 3%;
}
.contentArea
{
    background-color: #fff;
    transform: translateX(-50%);
    left:50%;
    position: relative;
    margin-bottom:5%;
    padding:0;
    box-shadow: 0 -10px 40px 7px rgba(0,69,104,0.1);

}

.section1_header
{
  color: #5C6E7C;
  font-family: campton-bold;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
  margin:10% 2% 2% 2%;
}
.section1_subheader
{
    color: #5C6E7C;
  font-family: campton-book;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin:0% 2% 1% 2%;
}
.section1_newcust,.section1_joinacc
{
    position: relative;
    border-radius: 11px;
    background-color: #F4F7FA;
    margin: 0% 0% 4% 0%;
    padding: 4%;
    left: 50%;
    transform: translateX(-50%);
}

.subsecheader
{
    color: #5C6E7C;
    font-family: campton-medium;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
}
.subsectext {
    color: #5D5D5D;
    font-family: campton-medium;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 16px;
    width: 80%;
  }
.leftHeader
{
  color: #FFFFFF;
  font-family: campton-bold;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom:5%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* New Customer CSS begin */

.section1_helpSection
{
    text-align: right;
    padding: 5% 5% 0% 0%;
}
.formContent label
{
  color: #5D5D5D;
  font-family: campton-bold;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom:3%;
}
.formContent input[type=text]
{
    padding: 2% 10% 2% 7%;
    min-height: 40px;
    border-radius: 25px;
    box-sizing: border-box;
  border: 0.5px solid #F4F7FA;
  background-color: #F4F7FA;
  margin-bottom:20px;
}
.formContent input[type=text]:focus
{
  border: 0.5px solid #5C707C;
}
.troubleText
{
  color: #5D5D5D;
  font-family: campton-medium;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
}
.helpText
{
    color: #DF323F;
    font-family: campton-medium;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
}
.radioBtnsection
{
    margin-top:3%;
    margin-bottom:1%;
    padding-left:0;
}

.linkbtn
{
    background: url(../images/link.png) no-repeat;
    height: 19px;
    width: 18px;
    background-size: contain;
    display: inline-block;
    margin-right: 5%;
}
.linkbttonred {
	background: url(../images/link.svg) no-repeat;
	height: 15px;
	width: 15px;
	background-size: contain;
	display: inline-block;
	margin-right: 5%;
	position: relative;
	top: 0px;
}

.radioContentLabel
{
    color: #5D5D5D;
  font-family: campton-book !important;
  font-size: 14px !important;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 2%;
  top: -2px;
  position: relative;
} 
input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right:5%;
    background: red;
}
input[type="checkbox"]
{
    width: 1em;
    height: 1em;
    background-color: #F4F7FA;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: -5px;
    border: 0.5px solid #5D5D5D;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
input[type="checkbox"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right:5%;
    background: red;
    border:none;
}
input:focus,input[type="checkbox"]:focus, textarea:focus, select:focus{
    outline: none;
}
.formContent input::-webkit-input-placeholder {
    font-family: campton-book;
}
  
.formContent input:-ms-input-placeholder {
    font-family: campton-book;
}
.sendemailText
{
  color: #5D5D5D;
  font-family: campton-medium;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  margin:2%;
}
.prevnmail
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12% 2% 5% 2%;
}
.prevStepbtn
{
    color: #DF323F;
    font-family: campton-medium;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    display: inline;
    padding-top: 10px;
}
.emailbtn
{
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    margin-right:6%;
    background-color: rgb(238, 58, 67) !important;
    border-color: rgb(238, 58, 67);
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 7.5px 30px;
    border-radius: 20px;
}

@media (max-width: 1024px){
    .leftredborder {
        background: #DF323F;
        height: 1030.04px;}
}


    @media (max-width: 992px){
.primary-nav__list>li {
    margin: 0 2%;
}
    }
    .primary-nav__list>li {
        display: inline-block;
        line-height: 20px;
        margin: 0 52px 0 0;
    }

    .primary-nav__list>li>a {
        color: #5C6E7C;
        font-family: Nexa,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
        font-weight: 700;
        line-height: 25px;
        padding: 25px 0 20px;
        position: relative;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
    }
   
    .topnav {
        float:right;
      }
      
      .topnav a {
        float: left;
        display: block;
        text-align: center;
        margin: 14px 30px;
        text-decoration: none;
        font-weight: 600;
        color: #5C707C;
        font-family: campton-bold;
        font-size: 1.4vw;
        letter-spacing: 0;
        line-height: 23px;
        border-bottom: 3px solid transparent;
      }
      
      .topnav a:hover {
        border-bottom: 2px solid #D0021B;
      }
      
      .topnav a.active {
        border-bottom: 2px solid #D0021B;;
      }

.approvalHeader
{
    color: #5C6E7C;
    font-family: campton-medium;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 40px;
    margin: 10% 2% 1% 2%;
}
.approvalText
{
    color: #5C6E7C;
    font-family: campton-book;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0% 2% 2% 2%;
}
.fluadbtn,.flucelvaxbtn
{
    color: #DF323F;
    font-family: campton-bold;
    margin: 2% 2% 2% 2%;
    background-color: #fff !important;
    border-color: #DF323F;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    user-select: none;
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    padding: 10px 20px;
    border-radius: 25px;
}
