@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

select:focus {
    outline: none !important;
}

.left-order-section {
    margin-bottom: 50px;
}

.dropdown-toggle::after {
    font-family: "FontAwesome";
    content: "\f107";
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-right: 0rem;
    font-size: 16px;
    font-weight: bold;
    color: #71838d;
}

.search-sec {
    background: #fff;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 15px;
}

.search-sec .dropdown-toggle {
    border-radius: 30px !important;
    border: 1px solid #71838d;
    padding: 10px 20px;
    background-color: #fff !important;
}

.search-sec .bootstrap-select {
    box-shadow: none !important;
    background: transparent;
}

.filter-option-inner-inner {
    font-family: "campton-bold";
    font-size: 14px;
    color: #71838d;
}

.search-sec .bs-caret {
    display: none;
}

.search-sec .dropdown-menu>.active>a,
.search-sec .dropdown-menu>.active>a:focus,
.search-sec .dropdown-menu>.active>a:hover {
    background-color: #DF323F;
}

.dropdown-toggle:hover {
    background: none !important;
}

.order-left-sec {
    background: #fff;
    padding: 20px 5px 10px 10px
}

.bootstrap-select .dropdown-menu li a span.text {
    font-family: "campton-book";
    color: #555;
}

.order-left-sec .order-title {
    margin-bottom: 20px;
}

.order-left-sec .order-title .fa {
    color: #DF323F;
    font-size: 20px;
}

.order-left-sec .order-title span {
    color: #DF323F;
    font-size: 20px;
    font-family: "campton-book";
    font-weight: 600;
    margin-left: 10px;
}

.spcl-addon .input-group-addon {
    border-radius: 25px 0 0 25px !important;
    background-color: #f4f7fa !important;
    color: #5c707c !important;
    box-shadow: none !important;
    border: none;
}

.search-order-sec .form-control {
    border: none;
    background-color: #f4f7fa !important;
    padding: 20px 10px 20px 0px;
    border-radius: 0px 30px 30px 0px;
    box-shadow: none !important;
    font-family: "campton-book";
}

.search-order-sec {
    margin-bottom: 20px;
}

.left-order-section .menu_container {
    background-color: #f4f7fa !important;
    border-radius: 15px;
}

.left-order-section .menu_container .menu-title {
    font-family: "campton-bold";
    font-size: 14px;
    color: #71838d;
    padding: 10px 10px 10px 24px;
    cursor: pointer;
}

.menu-title .fa {
    float: right;
    color: #DF323F;
    background: #fff;
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;
}

.forcast-select .filter-option-inner {
    font-family: campton-bold !important;
    color: #5C6E7C !important;
}

.forcast-select .open .filter-option-inner {
    font-family: campton-bold !important;
    color: #fff !important;
}

.expand-menu {
    padding: 2px;
}

.expand-menu .menu-box {
    background-color: #fff !important;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 2px;
    display: flex;
}

.menu-box .left-gap {
    width: 8%;
    vertical-align: top;
    padding-top: 12%;
    padding-left: 8px;
}

.menu-box .right-area {
    vertical-align: top;
    width: 92%;
}

.expand-menu .menu-box .right-area {
    padding: 10px 0px 10px 10px;
    font-family: "campton-book";
}

.expand-menu .menu-box .right-area .order-status {
    font-size: 12px;
    color: #555555;
    font-family: "campton-book";
}

.expand-menu .menu-box .right-area .order-no {
    font-size: 18px;
    color: #555555;
    font-family: "campton-book";
    font-weight: 600;
    line-height: 25px;
}

.expand-menu .menu-box .right-area .order-date {
    font-size: 12px;
    color: #555555;
    font-family: "campton-book";
}

.expand-menu .menu-box .right-area .error-ord {
    color: #DF323F;
}

.expand-menu .menu-box .right-area .error-ord .fa {
    color: #DF323F;
}

.menu-box .left-gap .fa {
    color: #fff;
    font-size: 14px;
}

.expand-menu .active .left-gap {
    background: #DF323F;
}

.expand-menu .active .right-area {
    background: #F7D6D9;
}

.order-right-section-bg {
    background: #fff;
    padding: 4%;
}

.invoiceHeader {
    color: #5C6E7C;
    font-size: 21px;
    font-family: campton-bold;
    line-height: 83px;
    margin-left: 10px;
}

#ordersTable_filter input:before {
    content: 'dd';
    position: relative;
}

.customer-scroll {
    height: 300px;
    overflow-y: scroll;
    padding-right: 5px;
}

#custom-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    background-color: #F5F5F5;
}

#custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555555;
}

.order-right-section {
    font-family: "campton-book";
    color: #526774;
    font-size: 14px;
    line-height: 20px;
}

.order-right-section .page-title {
    color: #526774;
    font-size: 28px;
    font-family: campton-bold;
    line-height: 30px;
    margin-bottom: 20px;
}

.bootstrap-select .bs-caret {
    display: none;
}

.order-right-section .updated-status {
    font-family: campton-bold;
    color: #526774;
    font-size: 13px;
    text-align: right;
    line-height: 18px;
}

.order-right-section .updated-status span {
    color: #DF323F;
    font-size: 14px;
    margin-left: 20px;
}

.order-right-section .updated-status span .fa {
    font-size: 18px;
}

.order-right-section .updated-status span a {
    color: #DF323F;
}

.control-label .fa {
    cursor: pointer;
}

.filter-order-lebel {
    font-family: campton-bold;
    color: #526774;
    font-size: 13px;
    text-align: center;
    padding-top: 20px;
}

.order-filter {
    margin: 35px 0px;
}

.order-drop-down {
    background-color: #f4f7fa !important;
    border-radius: 31px;
    padding: 8px 8px 7px 8px;
}

.clear {
    clear: both;
}

.clear-filter-order,
.clear-filter-order-shipping {
    text-align: right;
}

.clear-filter-order .form-group {
    margin-bottom: 0px;
}

.order-drop-down .dropdown-toggle {
    border-radius: 30px !important;
    border: 1px solid #DF323F;
    ;
    padding: 10px;
    background: #DF323F;
    color: #fff;
    font-family: campton-book;
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
    height: auto;
    background: none;
    box-shadow: none;
}

.order-drop-down .filter-option-inner-inner {
    font-family: "campton-bold";
    font-size: 14px;
    color: #fff;
}

.no-pad {
    padding: 0px;
}

.dropdown-toggle:focus {
    outline: none !important;
}

.order-drop-down .dropdown-toggle::after {
    color: #fff;
}

.order-drop-down .dropdown-toggle:hover {
    background: #DF323F !important;
    color: #fff;
}

.order-drop-down .dropdown-toggle:visited {
    background: #DF323F !important;
    color: #fff;
}

.order-drop-down .dropdown-menu {
    background: #DF323F !important;
    color: #fff;
}

.order-drop-down .dropdown-menu li a {
    color: #fff;
    font-family: "campton-bold";
    font-size: 14px;
}

.order-drop-down .dropdown-menu>.active>a,
.order-drop-down .dropdown-menu>.active>a:focus,
.order-drop-down .dropdown-menu>.active>a:hover {
    background: #fff;
    color: #526774 !important;
}

.order-drop-down .dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262626 !important;
    text-decoration: none;
    background-color: #f5f5f5;
}


.order-drop-down .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #DF323F !important;
    border-color: #DF323F !important;
}

.clear-filter-order .contentarea .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid red;
    white-space: nowrap;
    padding: 7.5px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear-filter-order-shipping .btn-default {
    color: #ee3a43;
    background-color: #fff;
    border-color: #fff;
    border-radius: 30px;
    padding: 12px 30px;
    font-family: "campton-bold";
}

.clear-filter-order-shipping .contentarea .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid red;
    white-space: nowrap;
    padding: 7.5px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear-filter-order .btn-default {
    color: #ee3a43;
    background-color: #fff;
    border-color: #fff;
    border-radius: 30px;
    padding: 12px 30px;
    font-family: "campton-bold";
}

.clear-filter-order-shipping .form-group {
    margin-bottom: 0px;
}

.filter-value-wrap {
    display: flex;
    padding: 0px 20px;
}

.filter-box {
    border-radius: 30px;
    border: 1px solid #BEC6CA;
    padding: 10px;
    margin-right: 10px;
}

.filter-box .fa {
    margin-left: 20px;
}

.filter-box .control-label {
    margin-bottom: 0px;
    font-family: "campton-book";
    font-size: 14px;
    color: #526774 !important;
}

.order-sub-title {
    color: #526774;
    font-size: 24px;
    font-family: campton-bold;
    line-height: 30px;
    margin-bottom: 20px;
}

.forcast-select .dropdown-toggle {
    border-radius: 30px;
    border: none !important;
    padding: 10px;
    background: transparent !important;
    color: #526774 !important;
    font-family: campton-book;
}

.forcast-select .open>.dropdown-toggle.btn-default {
    color: #526774 !important;
    background-color: #DF323F !important;
    border-color: #DF323F !important;
}

.forcast-select .filter-option-inner-inner {
    font-family: "campton-bold";
    font-size: 14px;
    color: #526774;
}

.forcast-select .dropdown-toggle::after {
    color: #526774;
}

.forcast-select .dropdown-toggle:hover {
    background: transparent !important;
    color: #526774;
}

.forcast-select .open .dropdown-toggle .filter-option-inner-inner {
    color: #fff !important;
}

.forcast-select .open .dropdown-toggle:after {
    color: #fff;
}

.filter-block {
    display: flex;
    padding: 0px 20px;
}

.menu-box {
    cursor: pointer;
}

.order-details {
    display: none;
}

#ordersTable1 thead {
    display: none;
}

#ordersTable1_filter input {
    display: block;
    margin-left: 0em !important;
    border: none;
    min-width: 250px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #f4f7fa;
    border-radius: 25px;
    outline: none;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.order-details-box .title {
    font-size: 22px;
    font-family: "campton-book";
    font-weight: 600;
    margin-bottom: 20px;
}

#ordersTable thead {
    display: none;
}

#ordersTable1 tbody tr>td {
    border-bottom: 1px solid #cfd8e1 !important;
}

#ordersTable1 tbody tr td:first-child {
    border-left: 1px solid #cfd8e1 !important;
}

#ordersTable1 tbody tr td:last-child {
    border-right: 1px solid #cfd8e1 !important;
}

.order-details-box .white-box {
    background: #fff;
    text-align: center;
    font-size: 34px;
    font-family: "campton-bold";
    overflow: hidden;
    min-height: 150px;
    padding: 38px 10px;
    color: #5C6E7C;
}

.order-details-box .white-box span {
    display: block;
    font-size: 14px;
    font-family: "campton-bold";
    margin-top: 15px;
    color: #5D6F7A;
}

.order-details-box .white-box span a {
    color: red;
}

.order-details-box .white-box-table {
    background: #fff;
    padding: 10px;
    min-height: 150px;
}


.white-box-table .table {
    border-collapse: separate;
    border: solid #cfd8e1 1px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    margin-bottom: 0px;
    overflow: hidden;
}

.white-box-table td,
th {
    border-bottom: solid #cfd8e1 1px !important;
    border-top: none !important;
    padding: 21px !important;
    font-size: 14px;
    font-family: "campton-bold";
    text-align: center;
}

.white-box-table th {

    border-top: none;
}

.white-box-table tr:last-child td {
    border-bottom: none !important
}

.white-box-table td:first-child,
th:first-child {
    border-left: none;
    background: #F4F7FA !important;
    font-size: 14px;
    font-family: "campton-book";
    text-align: center;
}

.order-white-rect .title {
    font-size: 14px;
    font-family: "campton-bold";
    margin-bottom: 20px;
}

.order-white-rect .white-area {
    background: #fff;
    text-align: center;
    font-size: 20px;
    font-family: "campton-bold";
    overflow: hidden;
    min-height: 100px;
    padding: 38px 10px;
    color: #555555;
}

.order-white-rect .shipping-loc {
    display: flex;
    background: #fff;
}

.order-white-rect .shipping-loc .grey {
    background: #DBE2E9;
    text-align: center;
    min-height: 100px;
    font-size: 20px;
    font-family: "campton-bold";
    padding-top: 40px;
}

.order-white-rect .shipp-address {
    font-family: "campton-book";
    font-size: 16px;
    color: #555555;
    padding-top: 29px;
}

/* Calender CSS */
*:focus {
    outline: none;
}

textarea:focus,
input:focus {
    outline: none;
}

.header_title span {
    font-size: 12px;
    font-style: italic;
    display: block;
    color: rgb(128, 128, 128);
    font-weight: normal !important;
    margin-top: 10px;
    font-family: Campton-Book;
}

.header_text span {
    font-size: 12px;
    font-style: italic;
    display: block;
    color: rgb(128, 128, 128);
    font-weight: normal !important;
    margin-top: 10px;
    font-family: Campton-Book;
}

.red-btn-border {
    background-color: #fff !important;
    padding: 4px 40px;
    color: #ee3a43;
    border-width: 2px;
    transition: all .3s linear;
    border-color: #ee3a43;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ee3a43;
    white-space: nowrap;
    padding: 7.5px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 20px;
    margin-top: 40px;
}

.calender-order-page {
    position: relative;
}

.calender-order-page #calendar {
    max-width: 100%;
    margin: 40px 0% 0px 0%;
    padding: 0 10px;
    z-index: 100;
    position: relative;
}

.calender-order-page .fc td,
.fc th {
    border: none !important;
}

.calender-order-page .fc-day-header {
    padding-bottom: 20px !important;
}

.calender-order-page .fc-week {
    border-bottom: 1px solid #91AAB2 !important;
}

.calender-order-page .fc-ltr .fc-basic-view .fc-day-number {
    text-align: right;
    position: relative !important;
    top: 62px !important;
}

.calender-order-page .fc-day-grid-event {
    margin: 0px 18px !important;
    padding: 8px !important;
    border-radius: 10px !important;
}

.calender-order-page .fc-event {
    border: none !important;
    background-color: rgba(92, 110, 122, 0.2);
    color: #5C6E7B !important;
    overflow: hidden;
}

.calender-order-page .fc-event-select:hover {
    color: white !important;
    font-weight: bold;
}

.calender-order-page .fc-event-select {
    border: none;
    background-color: #5C6E7B;
    color: #fff !important;
}

.calender-order-page .fc-event-default {
    border: 1px solid red;
    background-color: #fff;
    color: red;
}

.calender-order-page .fc-event {
    position: relative;

}

.calender-order-page .cal-delivered::before {
    background-color: transparent !important;
}

.calender-order-page .cal-delivered::after {
    background-color: transparent !important;
}

.calender-order-page .fc-event::after,
.calender-order-page .fc-event::before {
    height: 31px;
    content: ' ';
    position: absolute;
    top: 0;
    width: 9px;
}

.calender-order-page .fc-event::after {
    right: 0;
    background-color: #91AAB2;
}

.calender-order-page .fc-event::before {
    left: 0;
    background-color: #91AAB2;
}

.calender-order-page .fc-normal {
    background-color: rgba(92, 110, 122, 0.2);
    color: #5C6E7B !important;
}

.calender-order-page .fc-event .fc-content {
    position: relative;
    z-index: 2;
    padding: 0px 15px !important;
}

.calender-order-page .fc td.fc-today {
    border: none !important;
}

.calender-order-page .fc-bg table tr td:nth-child(even) {
    background: #fff
}

.calender-order-page .fc-bg table tr td:nth-child(odd) {
    background: #F4F7FA
}

.calender-order-page .fc-ltr .fc-basic-view .fc-day-number {
    padding-right: 20px;
}

.calender-order-page .fc-future {
    opacity: 0.3;
}

.calender-order-page .non-active {
    opacity: 0.3;
}

.calender-order-page .fc-bg .active {
    opacity: 1;
}

.calender-order-page .hideatcancel {
    opacity: 0;
}

.calender-order-page .cal-delivered {
    background: none !important;
    border: none !important;
    top: 54px;
    pointer-events: none !important;
    overflow: inherit;
}

.calender-order-page .cal-delivered .fc-content {
    left: -17px;
    top: -11px !important;
}

.calender-order-page .fcalen__month-name {
    position: relative;
    top: 75px;
    text-align: right;
    padding: 0px 20px 0px 0px;
}

.calender-order-page .cal-delivered .fa-arrow-circle-o-right {
    color: green !important;
}

@media screen and (min-width: 1400px) and (max-width: 1890px) {
    .calender-order-page .cal-delivered .fc-content {
        right: -22px;
    }

    .calender-order-page .fcalen__month-name {
        top: 100px !important;
    }

    .calender-order-page .fc-basic-view .fc-body .fc-row {
        min-height: 9em !important;
    }

    .calender-order-page .fc-scroller {
        overflow: hidden !important;
        min-height: 780px !important;
    }

}

@media screen and (min-width: 1891px) and (max-width: 2000px) {
    .calender-order-page .fcalen__month-name {
        top: 120px !important;
    }

    .calender-order-page .cal-delivered .fc-content {
        right: -36px;
        top: -7px !important;
    }

}

.calender-order-page .fc-basic-view .fc-body .fc-row {
    min-height: 8em !important;
}

.calender-order-page .fc-scroller {
    overflow: hidden !important;
    min-height: 677px !important;
    border-radius: 30px;
    border: 1px solid #91AAB2;
}



.calender-order-page .fc-content-skeleton table tbody tr:nth-child(2) .fc-event-container .cal-delivered {
    top: 27px;
}

.calender-order-page .no-event-show .fc-content-skeleton table tbody tr:nth-child(2) .fc-event-container .cal-delivered {
    top: 55px;
}


.calender-order-page .cal-delivered .fa {
    color: red;
    font-size: 18px !important;
    font-weight: lighter;
}

.calender-order-page .cal-expected {
    background: none !important;
    border: none !important;
    top: 38px;
    left: -29px;
    pointer-events: none !important;
    font-size: 16px !important;
}

.calender-order-page .cal-expected .fa {
    color: red !important;
}




.calender-order-page .fc-content-skeleton .fc-day-number {
    visibility: hidden;
}

.calender-order-page .fc-content .fc-time {
    display: none;
}

.popover {
    border: none;
    min-width: 300px !important;
}

.popover-title {
    color: #5C6E7B;
    font-size: 12px !important;
    font-weight: bold;
    text-align: center;
    border-bottom: none;
    background: #fff;
    padding: 0px !important;
    line-height: 40px !important;
}

.popover-content {
    padding: 0px;
}

.popover-content .table td {
    border: none !important;
    color: #5C6E7B;
    font-size: 14px !important;
    font-weight: 700;
    text-align: left;
}

.popover-content .table td:first-child {
    padding-left: 40px;
}

.calender-order-page .fc-today {
    opacity: 1 !important;

}

.calender-order-page .fc-day-header {
    background: none !important;
    color: #5C6E7B !important;
    text-transform: capitalize !important;
    font-family: Campton-Bold !important;
    font-size: 18px !important;
    text-align: center;

}

.calender-order-page .fcalen__month-name {
    color: #5C6E7B !important;
    text-transform: uppercase !important;
    font-family: Campton-Book !important;
    font-size: 12px !important;
    font-weight: normal;

}

.calender-order-page .active .fcalen__month-name {
    color: #5C6E7B !important;
    text-transform: uppercase !important;
    font-family: Campton-Bold !important;
    font-size: 12px !important;
    font-weight: bold;

}

.calender-order-page .fc-toolbar h2 {
    font-family: Campton-Book !important;
    font-weight: 700;
    font-size: 18px;
    padding: 0px;
    margin: 0px 0px 20px 0px !important;
    color: #5C6E7B !important;
    display: block !important;
    overflow: hidden;
    line-height: 27px !important;
}

.calender-order-page .fc-state-default {
    background: none !important;
    border: none !important;
    box-shadow: none !important;

}

.calender-order-page .fc-icon-left-single-arrow:after {
    color: #5C6E7B !important;
}

.calender-order-page .fc-next-button span {
    padding: 6px;
    height: auto;
    border-radius: 50%;
    background: #f4f7fa;
}

.calender-order-page .fc-prev-button span {
    padding: 6px;
    height: auto;
    border-radius: 50%;
    background: #f4f7fa;
}

.calender-order-page .fc-icon-right-single-arrow:after {
    color: #5C6E7B !important;
}

.calender-order-page .delivery-info {
    position: absolute;
    right: 12px;
    top: 0px;
    padding: 0px 12px;
    border-radius: 20px;
    font-family: Campton-Book !important;
    font-weight: normal;
    font-size: 13px;
    color: #5C6E7B !important;

}

.calender-order-page .delivery-table td {
    font-family: Campton-Book !important;
    color: #5C6E7B !important;
}

.calender-order-page .delivery-table td .fa {
    font-size: 18px;
}

.calender-order-page .delivery-table td span {
    background: #f4f7fa;
    padding: 7px 15px;
    border-radius: 30px;
    font-family: Campton-Bold !important;
    color: #5C6E7B !important;
}

.calender-order-page .delivery-info .delivery-table {
    width: auto !important;
    margin-bottom: 0px !important;

}

.calender-order-page .delivery-info .delivery-table .fa-circle-thin {
    color: red;
}

.calender-order-page .delivery-info .delivery-table .fa-truck {
    color: red;
    font-size: 16px;
}

/*.delivery-info .delivery-table td:first-child{border-right: 1px solid #c8cfd4 !important;}*/
.calender-order-page .delivery-info .delivery-table td {
    padding: 5px 10px;
    text-align: center;
}

.calender-order-page .delivery-info .delivery-table td .fa {
    padding-right: 6px;
}

.calender-order-page .fc-event-container {
    position: relative !important;
}

.popover {
    -webkit-box-shadow: 0px -5px 32px -11px rgba(71, 75, 77, 0.65) !important;
    -moz-box-shadow: 0px -5px 32px -11px rgba(71, 75, 77, 0.65) !important;
    box-shadow: 0px -5px 32px -11px rgba(71, 75, 77, 0.65) !important;

}


.calender-order-page .fc-day-grid-event .fc-content .fc-title {
    font-weight: bold !important;
    font-family: Campton-Bold !important;
}

.calender-order-page .no-event-show .fc-content-skeleton .fc-event-container .fc-day-grid-event {
    display: none;
}

.calender-order-page .no-event-show .fc-content-skeleton .fc-event-container .cal-delivered {
    display: block;
}



@media only screen and (max-width: 1024px) {

    .fcalen__month-name {
        position: relative;
        top: 52px !important;

    }

    .cal-delivered {
        top: 22px !important
    }

    .cal-expected {
        top: 23px !important
    }



}

/* Calender CSS end */


/* Graph Section Starts here */
.progress-bar-vertical {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #DBDFE1 99.9%, transparent 99.9%), radial-gradient(circle at 50% 50%, #DBDFE1 10%, transparent 10%);
    background-position: 0% 50%, 0% 50%;
    background-size: 100% 5px, 100px 15px;
    background-repeat: no-repeat, repeat-x;
}

.progress-now-vertical {
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, #35818A 99.9%, transparent 99.9%), radial-gradient(circle at 50% 50%, #35818A 10%, transparent 10%);
    background-position: 0% 50%, 0% 50%;
    background-size: 100% 5px, 100px 16px;
    background-repeat: no-repeat, repeat-x;
    z-index: 1;
}

.progress-now-vertical1 {
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, #DF323F 99.9%, transparent 99.9%), radial-gradient(circle at 50% 50%, #DF323F 10%, transparent 10%);
    background-position: 0% 50%, 0% 50%;
    background-size: 100% 5px, 100px 16px;
    background-repeat: no-repeat, repeat-x;
    z-index: 1;
    border-right: 2px solid black;
}

.progress-now-vertical2 {
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, #DF323F 99.9%, transparent 99.9%), radial-gradient(circle at 50% 50%, #DF323F 10%, transparent 10%);
    background-position: 0% 50%, 0% 50%;
    background-size: 100% 5px, 100px 16px;
    background-repeat: no-repeat, repeat-x;
    z-index: 1;
    border-right: 2px solid black;
}

.progress-now-vertical3 {
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, #DF323F 99.9%, transparent 99.9%), radial-gradient(circle at 50% 50%, #DF323F 10%, transparent 10%);
    background-position: 0% 50%, 0% 50%;
    background-size: 100% 5px, 100px 16px;
    background-repeat: no-repeat, repeat-x;
    z-index: 1;
    border-right: 2px solid black;
}

.progress-now-vertical.right {
    right: 0px;
    background-position: 100% 50%, 100% 50%;
}

.container-prog {
    padding: 10px;
    margin: 4px;
    border: 5px solid #F4F7FA;
    text-align: center;
    border-radius: 25px;
}

.value-text {
    color: #5C6E7C;
    font-family: Campton-Bold;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
    margin: 20px 0;
}

.prodcuttitle-text {
    color: #5C707C;
    font-family: Campton-Medium;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
}

.prodcuttitle-Subtext {
    color: #5C707C;
    font-family: campton-book;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 30px;
    text-align: left;
}

.ordersTablecontainer .dataTable tr:first-child th:nth-child(2),
.ordersTablecontainer .dataTable tr:first-child th:nth-child(4) {
  background-color: #fff !important;
  border-top-right-radius: 25px; /* remove after shipments data available */
}

.tablecontainer2 .dataTables_filter, .tablecontainer2 .dataTables_info {display: none;}

.dropdown .btn {border-radius: 30px !important;}

/*---Graph Section Ends here----*/
/* circle graphic code start */
.circleGraphic {
    width: 300px;
    height: 300px;
	margin:20px auto
}
#circleGraphic .rs-range-color  {
    background-color: #DF323F;
}
#circleGraphic .rs-handle  {
    background-color: #fff;
    border: 2px solid #DF323F;
}
#circleGraphic1 .rs-range-color  {
    background-color: #DF323F;
}
#circleGraphic1 .rs-handle  {
    background-color: #fff;
    border: 2px solid #DF323F;
}
.rs-full .rs-tooltip {
    top: 75% !important;
    left: 90%!important;
    width: 100%;
}

#dropdownOrders .search-sec .dropdown-toggle {border-radius: 30px !important;}
#dropdownOrders .btn-default {background-color: #ffffff;}
/*---Graph Section Ends here----*/