.productsbreadcrumb {
	padding: 21px 17px;
	margin-bottom: 20px;
	list-style: none;
	background: none;
	border-radius: 4px;
	font-family: campton-book;
}

.productsbreadcrumb>li {
	display: inline-block;
}

.productsbreadcrumb-item a {
	color: #DF323F!important;
	text-decoration: none;
	font-size: 14px;
}

.productsbreadcrumb>li+li:before {
	padding: 0 5px;
	color: #5C6E7C;
	content: "/\00a0";
}

.productsbody-section {
	background-color: #F4F7FA;
}

.productspageHeader {
	color: #DF323F;
	font-family: campton-bold;
	font-size: 50px;
	letter-spacing: -0.1px;
	line-height: 60px;
	margin: 1% 2% 3% 1%;
}

.productspadLeft60 {
	padding-left: 60px!important;
}

.Rproducts-body {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 2%;
}

.Rproducts-body .no-pad {
	margin-bottom: 2%;
}

.Rproducts-body .no-pad {
	padding-left: 0px;
	padding-right: 0px;
}
.productheading-txt {
	FONT-FAMILY: "CAMPTON-BOOK";
	font-size: 22px;
	color: #5C6E7C;
	font-weight: bold;
	line-height: 30px;
	margin-left: 1%;
}

.productsheading-txt {
	FONT-FAMILY: "CAMPTON-BOOK";
	font-size: 22px;
	color: #5C6E7C;
	font-weight: bold;
	line-height: 30px;
}

.productsblue-back {
	background-color: #F4F7FA;
	padding-bottom: 20px;
}

.productsbody-section {
	background-color: #F4F7FA;
}

.portal-body .blclkfirst {
	margin: 0% 2%;
}

.productswhite-cotte {
	overflow: hidden;
	background: #fff;
}

.productsbody-txt {
	font-size: 14px;
	color: #5C6E7C;
	font-family: "campton-book";
	line-height: 22px;
	word-break: break-all;
	text-align: left !important;
}

.white-background-products-consent {
	padding:2% 4% !important;
}

.white-background-products {
	background: #fff;
	padding: 8% 4%;
	overflow: hidden;
}

.Pgrey-Blocks {
	width: 243px;
	height: 253px;
	display: inline;
	margin: 0 10px 25px 0px;
}

.Pgrey-Labels {
	padding: 10px;
	font-weight: 700;
	font-size: 14px;
	color: #000;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background: #D7E5E9;
	height: 146px;
}

.Pinner-Content {
	background-color: #F4F7FA;
	
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

.products-blocks {
	text-align: left;
	padding: 23px;	
	font-family: campton-bold;
	
}


.products-subpara {
	font-size: 12px;
	font-family: campton-book;
}

.pred-labels {
	background: white;
	width: 58px;
	text-align: center;
	border-radius: 20px;
	color: #DF323F;
	margin: 10px;
}

.pred-labls {
	background: white;
	width: 93px;
	text-align: center;
	border-radius: 20px;
	color: #DF323F;
	margin: 10px;
}

.productslefttxt {
	font-family: campton-book;
	font-size: 13px;
	color: #5C6E7C;
	padding-left: 0px!important;
}

.productsrighttxt {
	font-family: campton-book;
	font-size: 13px;
	color: #DF323F;
	font-weight: 900;
	padding-left: 0px!important;
}

.marBotom20 {
	margin-bottom: 20px;
}

.categoryButtons {
	border-radius: 26px;
	padding: 7px 10px;
	background: white;
	border: 1px solid grey;
	margin-top: 10px;
}

.category-box {
	width: 300px;
}

.redtext {
	font-family: campton-book;
	color: #DF323F;
	margin: 10px;
	font-weight: 700;
}

.productsbutton {
	color: rgb(255, 255, 255);
	margin-bottom: 15px;
	margin-right: 6%;
	background-color: #DF323F!important;
	border-color: #DF323F;
	display: inline-block;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	font-size: 16px;
	font-family: campton-bold;
	line-height: 1.42857;
	user-select: none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	padding: 10.5px 36px;
	border-radius: 23px;
	margin-left: 13px;
}

.textCenter {
	text-align: center;
}

.marTop30 {
	margin-top: 30px;
}

.Rgrey-Blocks-1 {
	
	margin: 0 10px 25px 0px;
}
.Rgrey-Blocks-2 {
	
	margin: 0 10px 25px 0px;
}
.Rgrey-Labels {
	padding: 10px;
	font-weight: 700;
	font-size: 14px;
	color: #000;
	background: #D7E5E9;
	
}

.Rred-labls {
	background: white;
	width: 93px;
	text-align: center;
	border-radius: 20px;
	color: #DF323F;
	margin: 10px;
	font-family: campton-semibold;
	font-size: 12px;
	padding:2px;
}
.resource-headings{
	font-size: 22px;
	color: #555555;
	font-family: campton-bold;
}
.resource-para{
	font-size: 14px;
	color:#5d5d5d;
	font-family: campton-book;
	
}

.Rinner-Content {
	background-color: #ffffff;
	height: 400px;
	
}

.resource-blocks {
	text-align: left;
	padding: 62px 60px;
	font-size: 16px;
	font-family: campton-bold;
	color: #5C6E7C;
}

.resource-subpara {
	font-size: 12px;
	font-family: campton-book;
}

.Rlinksbtton {
	background: url(../images/link.png) no-repeat;
	height: 19px;
	width: 18px;
	background-size: contain;
	display: inline-block;
	margin-right: 1%;
	position: relative;
	top: 5px;
}

.portal-body .no-pad {
	padding-left: 0px;
	padding-right: 0px;
}
.linkHeadings{
	font-size: 14px;
	font-family: campton-semibold;
	color: #DF323F;
}
.resource-para2{
	font-size: 14px;
	color:#5d5d5d;
	font-family: campton-book;
	margin-bottom: 50px;
}
.boxheading{
	font-size: 20px;
	color:#5C6E7C;
	font-family: campton-bold;
}
.downlaodbg{
	background: white;
    border-radius: 26px;
	padding: 10px 15px;
	color: #DF323F;
}
.float-right{float:right;}
.downarrow{width: 13px;}
.notification-col{	
	padding: 27px 20px;
    background-color: white;  
    border-radius: 48px; 
}
.notification-col1{
	background-color:#F4F7FA;
	border-radius: 20px;
	padding: 6px;
	padding: 6px;
    margin: -5px -12px;
}
.notification-colspan{color:#DF323F;
	font-family: campton-medium;
	font-size: 20px;
	margin-right: 10px;
}
.notificationtxt{
	float: left;
    position: relative;
	top: -15px;
	font-size: 14px;
	color:#5C6E7C;
	font-family: campton-bold;
	margin-right:15px;
}
.notificationblk{
	width: 45%;
}
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
}

.panel-title {
	font-size: 14px;
}

.panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
}

.more-less {
	float: right;
	color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}
.referencebody{
	color:#5d5d5d;
	font-size: 12px;
	font-family: Campton-Bookitalic;
}
.referencebodysec{
	background: #fff;
	margin-top: 40px;
    margin-bottom: 30px;
}
.slide {
	margin: 0;
	padding: 0;	
  }
.xhLine {
    color: #5C6E7C;
    font-family: campton-medium;
    opacity: 0.5;
    font-size: 8px;
    letter-spacing: 15px;
    line-height: 30px;
    margin: 0% 2% 2% -1%;
    text-align: left;
}
 
  .pull-me {
	margin: 0 auto;
	width: 30px;
	height: 30px;
	font-family: arial, sans-serif;
	font-size: 1.2em;
	color: #ffffff;
	background: #35818A;
	text-decoration: none;
	border-radius: 20px;
	position: relative;
    top: 17px;
  }
  
  .pull-me p {
	text-align: center;
  }
  .pull-topfa{
	margin-top: 7px;
  }
  .boximages-1{
	max-width: 37%;
    margin-left: auto;
    margin-right: auto;
	display: block;
	padding-top: 29px;
    padding-bottom: 29px;
  }
  .boximages-2{
	max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .downloadarrow{
	float: right;
    margin-top: 3px;
  }
  .external-link{	
		font-size: 14px;		
		color: #DF323F;
  }
  .referncepad{
	padding-top: 30px;
    padding-left: 54px;

  }
    a.downlodlink,a.downlodlink:hover{
  	color:#DF323F!important;
  	text-decoration:none!important;
  }

  .product_resource_wrap .Pinner-Content{
	border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }

  .product_resource_wrap .boxheading {
    font-size: 14px;
    color: #555555;
    font-family: campton-bold;
}
.starmark{
	font-size: 10px;
    font-family: 'Campton-Bold';
    word-spacing: 4px;
}

.italic_dsgn{
	font-family: 'Campton-BookItalic';
    font-size: 11px;
    line-height: 19px;
    font-style: italic;
}
.product_resource_wrap .resource-para {
    font-size: 14px;
    color: #5d5d5d;
    font-family: campton-book;
    line-height: 20px;
    margin-bottom: 24px;
}
.referencebody a{
text-decoration: underline;
}