.body-returns{
    background-color: #F4F7FA;
}


.returnsbreadcrumb {
    padding: 21px 0px;
    margin-bottom: 20px;
    list-style: none;   
    border-radius: 4px;
    font-family: campton-book;
}
.returnsbreadcrumb>li {
    display: inline-block;
}
.active {
    color: #DF323F!important;
}
.returnsbreadcrumb-item a {
    color: #DF323F!important;
    text-decoration: none;
    font-size: 14px;
}
.returnsbreadcrumb>li+li:before {
    padding: 0 1px;
    color: #5C6E7C;
    content: "/\00a0";
}

.returnsheader {
    color: #DF323F;
    line-height: 58px;
    font-size: 50px;
    font-family: campton-bold;
    text-transform: uppercase;
}
.returnssubheader1{
    color: #5C6E7C;   
    padding: 35px 0px 0px 0px;
    font-size: 32px;
    font-family: campton-bold;
    text-transform: uppercase;
}

.creditsvalue{
    color: #5C6E7C;   
    font-size: 32px;
    font-family: campton-bold;
}
.returnssubheader2{
    color: #5C6E7C;
    font-size: 22px;
    font-family: campton-medium;
    margin-top:10px!important;
}
.returnsheader2{
    color: #5C6E7C;   
    font-size: 22px;
    font-family: campton-medium;
    margin-top:10px!important;
}

.returnsgreybg {
    background: #35818A;
    width: 42%;
    padding-top: 47px;
    float: left;
    min-height: 123px;
    margin-left: 14px;
    font-size: 22px;
    color: #fff;   
    text-align: center;
    font-family: campton-medium;
}
.returnswhitebg {
    background: #ffffff;
    float: left;
    width: 55%;
    padding: 47px 20px;
    min-height: 123px;
    text-align: center;
}
.greywhitesec{
    margin-top: 15px;
    margin-bottom: 30px;
}
.greysectxt {
    font-size: 20px;
    color: ffffff!important;
    font-family: 'Campton-Book';
}
.whitesecredtxt {
    font-size: 20px;
    color: #DF323F;
    font-family: 'Campton-bold';
}

.returns-detailssection {
    background: #fff;
    margin: 20px 0;
    padding: 40px;

}

.returns-detailssection p i {
font-size:12px;
}

.returnssubheader1 h3 {
	color: #5C6E7C;
    font-size: 22px;
    font-family: campton-medium;
    margin-top:15px!important;
    text-transform:initial;
}

.returns-seasontxt{
    font-size: 14px;
    color:#5D5D5D;    
    font-family: campton-book;
}
.returnssubheader3 {
    font-size: 12px;
    color:#5D5D5D;    
    font-family: campton-bookitalic;
    margin-left: 14px;
    margin-top: 5px;
}


.returnsBody {
    background-color: #fff;
    margin: 1% 0px;
   padding: 20px 40px;
}

.returnsredtxt{
    font-size: 16px;
    color:#DF323F;    
    font-family: campton-semibold;
    float: right;
}

.returnsHeader
{
    color: #5C6E7C;
    font-size: 21px;
    font-family: campton-bold;
    line-height: 83px;
    margin-left:10px;
}
 .returnsleftsection
 {
 width:47%; 
 float:left;
 margin-right:3.3%;
 }
 
  .returnsrightsection
 {
 width:49%;
 float:left;
 }
  
  .dataTable
  {
    font-size:13px;
    text-align:center !important;
    color: #6a6a6a;
  }
  .dataTables_scrollBody,.dataTables_scrollBody table,.dataTables_scrollHead,.dataTables_scrollHead table
  {
    width:100% !important;
  }
  .dataTable th
  {
    color:#5C6E7C !important;
    font-size: 15px !important;
    font-family: Campton-Medium;
    text-transform: none !important;
    border: none !important;
    text-align: center !important;
    padding-bottom: 10px;
    padding-top: 10px;
    outline: none !important;
  }
  .dataTable td{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom :1px solid #cfd8e1;
    padding: 15px !important;
    font-family: campton-medium;
    
  }
  .dataTable tr{
    border: 1px solid #cfd8e1 !important;
  }
 
  #dataGrid-content
  {
    margin-left: 7%;
    z-index: 2;
    width: 100%;
    position: relative;
    margin-bottom:5%;
  }
  .returnstablecontainer
  {
    margin-left:0%;
    margin-bottom:4%;
  }
  .dataTables_scrollHeadInner table
  {
    width:100% !important;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 10px;
  }

  .dataBorder {
  
    padding: 8px 10px;
    font-family: campton-book;
    font-size: 13px;
}

.returnsTablecontainer 
{
  margin-left: 21px;
  margin-top: 4%;
}
.returnsTablecontainer .dataTable>tbody>tr>:nth-child(1),.returnsTablecontainer .dataTable>tbody>tr>:nth-child(3),.returnsTablecontainer .dataTable>tbody>tr>:nth-child(5)
{
  background-color: #f4f7fa;
}

  .returnsTablecontainer .dataTable 
  {
    min-width:650px;
  }
  .returnsTablecontainer .dataTable th
  {
    font-size: 14px !important;
  }
  .returnsTablecontainer .dataTable tr>:nth-child(1),.returnsTablecontainer .dataTable tr>:nth-child(3),.returnsTablecontainer .dataTable tr>:nth-child(5),.returnsTablecontainer .dataTable tr>:nth-child(7) /*Changed Code */
  {
    background-color: #f4f7fa;
  }
  .dataTables_scrollHeadInner .dataTable tr
  {
    border-bottom:1px solid #cfd8e1 !important;
    border-top:1px solid #cfd8e1 !important;
  }
  .returnsTablecontainer .dataTable tr:first-child th:nth-child(1)
  {
    border-top-left-radius: 25px;
  }
  .returnsTablecontainer .dataTable tr:first-child th:nth-child(7)
  {
    border-top-right-radius: 25px;
  }
  .returnsTablecontainer .dataTable tbody tr:last-child td:nth-child(1)
  {
    border-bottom-left-radius: 25px;
  }
  .returnsTablecontainer .dataTable tbody tr:last-child td:nth-child(7)
  {
    border-bottom-right-radius: 25px;
  }
  
  .returnsTablecontainer .dataTable tr:first-child th
  {
    border-bottom: 2px solid #cfd8e1 !important;
    padding: 1.5% 0px;
  }
  #invoiceTable_paginate span
  {
    background-color: #f4f7fa;
    padding: 0.7%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .returnsTablecontainer .dataTable>tbody>tr>:nth-child(7) {
    color: #DF323F !important;
    font-size: 14px !important;
    font-weight: 600;
    font-family: campton-medium !important;
  }
  .returnsTablecontainer .first,.returnsTablecontainer .last
  {
    margin-right:0px !important;
    margin-left:0px !important;
  }

  .returnsTablecontainer .dataTable tr:first-child th:nth-child(1) {    
    border-left: 1px solid #cfd8e1!important;
}
.returnsTablecontainer .dataTable tr:first-child th:nth-child(4) {    
    border-right: 1px solid #cfd8e1!important;
    border-top-right-radius: 23.5px;
}
.returnsTablecontainer .dataTable tr:first-child th {  
    border-top: 1px solid #cfd8e1!important;
}

.returnsTablecontainer .dataTable tbody tr:last-child td:last-child {
    border-bottom-right-radius: 32px;
}
   
.returnssubheader4 {
    color: #5D5D5D;
    margin-left: 12px;
    font-size: 22px;
    font-family: campton-bold;
    margin-top: 10px!important;
}
.returnssubheader5 {
    color: #5D5D5D;   
    font-size: 12px;
    font-family: campton-bold;
    margin-top: 10px!important;
}
.credittextmar{
    margin-bottom: 30px;
    padding-left: 20px;
}
/*Progress bar css*/
ul.seasonlist {
    list-style: none;
    margin-left: 55px;
}
li.seasonlisting {
    position: relative;
}
.seasonlist:before {
    height: 350px;
    width: 4px;
    background: #fff;
    content: "";
    position: absolute;
    left: 56px;
}
.seasonlist li:first-child {
    font-size: 32px;
    font-family: campton-bold;
    color: #5C6E7C;
    margin-bottom: 70px;
}
.seasonlist li {
    font-size: 32px;
    font-family: campton-bold;
    color: #5C6E7C;
    margin-bottom: 70px;
}
.seasonlist li p{
    font-size: 14px;
    font-family: campton-medium;
    color: #5d5d5d;
    width: 346px;
    margin-top: 15px;
}
.seasonsection{
    margin-top: 30px;
}
li.seasonlisting:before {
    content: " ";
    width: 18px;
    height: 18px;
    background: #35818A;
    position: absolute;
    border-radius: 50%;
    left: -31px;
    top: 2px;
    border: 5px solid #fff;
    color: #000;
    z-index: 99999999;
}
a.seasonlinks {
    color: #5C707C;
    text-decoration: none;
}

table.dataTable tr td:first-child, table.dataTable tr th:first-child {
  border-left: 1px solid #cfd8e1!important; 
}
table.dataTable tr td:last-child, table.dataTable tr th:last-child {
  border-right: 1px solid #cfd8e1!important; 
}

table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-left: 0px solid #cfd8e1!important; 
}


#returnsTable thead tr th:nth-child(even) {
  background-color: #ffffff!important;
}
.seasonlists{margin-left:50px;}
.seasonlists li {
  font-size: 32px;
  font-family: campton-bold;
  color: #5C6E7C;
  margin-bottom: 20px;
}
.seasonlists li p{
  font-size: 14px;
  font-family: campton-medium;
  color: #5d5d5d;
  width: 346px;
  margin-top: 5px;
}


#returnsTable thead tr th{font-family:campton-bold!important;}
#returnsTable_filter{display:none;}
 