.supportwhite-background {
    background: #fff;
    padding: 5% 5%;
    height: 535px;
}
.faqwhite-background {
    background: #fff;
    padding: 5% 5%;
    height: 368px;
}

.supportbreadcrumb {
    padding: 21px 17px;
    margin-bottom: 20px;
    list-style: none;   
    border-radius: 4px;
    font-family: campton-book;
}
.supportbreadcrumb>li {
    display: inline-block;
}
.active {
    color: #DF323F!important;
}
.supportbreadcrumb-item a {
    color: #DF323F!important;
    text-decoration: none;
    font-size: 14px;
}
.supportbreadcrumb>li+li:before {
    padding: 0 5px;
    color: #5C6E7C;
    content: "/\00a0";
}
.support-body {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 2%;
}

.emailsec {   
    padding-bottom: 6%;
}
.contactsubheader {
    color: #5C6E7C;
    font-size: 20px;
    font-family: campton-bold;
    line-height: 83px;
    margin-bottom: 10px;
}
.marBottom20 {
    margin-bottom: 20px;
}
.emaillink {
    color: #DF323F!IMPORTANT;
    FONT-SIZE: 16PX;
    font-family: campton-bold;
}
.cotactsubpara {
    color: #5C6E7C;
    font-size: 12px;   
    font-family: campton-book;
}
.cotactsubheading {
    color: #5C6E7C;
    font-size: 14px;
    width: 94%;
    font-family: campton-bold;
}
.subpara {
    font-size: 16px;
    color: #5C6E7C;
    font-family: campton-book;
}
a.phonetext, a.phonetext:hover {
    color: #DF323F!important;
    font-family: campton-bold;
}
.cotactsubpara {
    color: #5C6E7C;
    font-size: 12px;
    width: 94%;
    font-family: campton-book;
}
.marBottom40 {
    margin-bottom: 40px;
}
.emailsubsection{padding-left: 4%;
}
.emailsubsection-1{padding-left: 8%;
}
.adverse-sec{margin-left: 2%;}
.white-background {
    background: #fff;
    padding: 4% 5%;
    min-height: 216px;
}
.martop50{margin-top: 50px;}

.martop40{margin-top: 40px;}

.padBottom42{padding-bottom: 42px;}
.faqheading{font-size:14px;font-family: campton-bold;margin-bottom: 10px;color:#5C6E7C;}
.faqsubpara{font-size:14px;font-family:campton-book;color:#5C6E7C;}

.redviewall{
    color: white;
    background-color: #DF323F!important;
    padding: 6px 15px;
    border-radius: 17px;
    font-size: 16px;
    width: 200px;
    font-family: campton-bold;
}
.contactheader {
    color: #DF323F;
    margin-left: 14px;
    line-height: 58px;
    font-size: 50px;
    font-family: campton-bold;
}
.heading-txt {
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 22px;
    color: #5C6E7C;
    font-weight: bold;
    line-height: 30px;
}
.login-link {
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 15px;
    color: #DF323F;
    padding: 0px 30px 0px 0px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
}
.bttn {
    border-width: 2px;
    transition: all .3s linear;
    display: inline-block;
    margin-bottom: 0;   
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7.5px 30px;
    font-size: 19px;
    line-height: 1.42857143;
    border-radius: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 247px;
    font-weight: 700;
    font-family: campton-book;
}
.redround-btn {
    background-color: #ee3a43!important;
    color: #fff;
    margin-bottom: 15px;
    border-color: #ee3a43;
}
.buttonsection{margin-top: 30px;
    text-align: center;}
    .footernavigation-1 {
        margin-top: 4%;
    }
 .body-section {
background-color: #F4F7FA;
}
.emailsection {
    padding-top: 0%;
    padding-left: 4%;
    padding-bottom: 6%;
}
.contactsubheadersupport {
  color: #5C6E7C;
  font-size: 20px;
  font-family: campton-bold;
  line-height: 36px;
  margin-bottom: 10px;
}
.nopadding{
        padding:0px;
    }
    
     .emailsection1 {
        padding-bottom: 2%;
        border: 1px solid grey;
        border-bottom: 0px;
    }
    .subparaitalic {
        font-size: 16px;
        color: #5C6E7C;
        font-family: campton-bookitalic;
        line-height: 25px;
    }
    
    .emailsectionlogout {
    padding-top: 0%;
    padding-bottom: 2%;
    border: 1px solid grey;
}

.contactmarginlogout {
    padding-left: 5% !important;
    padding-right: 5% !important;
    background-color: #F4F7FA;
}
.supportlogoutwhite-background {
    background: #fff;
    padding: 5% 5%;
    margin-bottom: 20px;
}
   