footer {
  margin-top: 30px;
  background: @footer-background;
  color: @footer-text-color;
  font-weight: 300;
}

.footer__top {
  padding-bottom: 50px;
  padding-top: 50px;

  @media (max-width: @screen-md) {
    padding-bottom: 38px;
  }

  .footer__nav--container {

    @media (max-width: @screen-sm) {
      margin-bottom: 10px;
      text-align: center;
    }

    .footer__nav--links {
      padding-left: 0px;
      width: 100%;
      margin: 0px;
      list-style: none;

      .footer__link {
        margin-top: 10px;
      }

      a {
        color: @footer-text-color;
        font-size: 14px;
      }
    }
  }
}

.footer__left {
  .full-width-padding();
}

.footer__right {
  .full-width-padding();
  @media (max-width: @screen-md) {
    border-top: 1px solid @footer-border-color;
    padding-top: 30px;
    margin-top: 25px;
  }

  .footer__dropdown {

    select.form-control {
      padding: 2px 13px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      cursor: pointer;
      background-color: @footer-background;
      color: @footer-text-color;
      padding: 7px 10px;
      height: 26px;
      line-height: 20px;
      font-size: 14px;

      option {
        background-color: @footer-background;
      }

      &:focus::-ms-value {
        background-color: @footer-background;
      }
    }
  }
}

.footer__copyright {
  background: @copyright-background;
  padding: 25px 0;
  color: @copyright-color;
  text-align: center;
}
#flucelvaxfooterlogo_2 {
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    margin-bottom: 5%;
    margin-top: -11%;
}
.footermar{
	    margin-top: 12px;
	    margin-bottom: 25px;
}
.marTop-25{
margin-top: 25px !important;
}